.form {
    background-color: #6C674D;
    margin: 40px auto;
    padding: 56px 64px 64px 64px;
    border-radius: 4px;
    color: #fff;
}
.form .control-p {
    background-color: #6C674D;
    color: #F5F1E9;
}
.form input, .form textarea {
    border: none;
    border-bottom: 1px solid #dedede;
    background-color: transparent;
    width: 100%;
    outline: none;
    margin-top: 24px;
    color: #fff;
    padding: 10px 0;
}
.form textarea {
    resize: none;
}
.form button {
    padding: 14px 43px;
    border-radius: 10px;
    background-color: #F5F1E9;
}
.form ::placeholder {
    color: #F5F1E9;
}

@media(min-width:768px) {
    .form {
        width: 463px;
        height: 580px;
    }
.form .control-p {
    margin: 32px 0;
}
}